nav{
   padding: 10px 2%;
   justify-content: space-between;
   box-shadow: 0 0 10px rgba(0,0,0,0.2);
   background: #fff;
   position: sticky;
   top: 0;
   z-index: 10; 
}

.nav-left .menu_icon{
    width: 22px;
    margin-right: 40px;
}


  .menu_icon img{
    width: 22px;
  }

.nav-left .logo{
    width: 130px;
}

.nav-middle .search-box{
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
   background: transparent;
}

.nav-middle .search-box img{
    width: 15px;
    
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}

.nav-right .user_icon{
    width: 35px;
    border-radius: 50%;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}
.menu-icon {
    width: 25px;  /* Reduced size */
    height: 25px; /* Reduced size */
    cursor: pointer;
    padding: 5px;
    z-index: 999;
}
@media(max-width:900px){
    .menu-icon{
        display: none;
    }
    .menu-right img{
        display: none;
    }
    .nav right .user_icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
}